# First adding all the files in ignorelist 
*
.bash_history

# Just add the directory and file names you want to added in git repo
# Whitelisting the files i needed
!.i3/*
!.bash_aliases
!.bash_aliases
!.bash_history
!.bash_profile
!.bashrc
!.bash_functions
!.bash_logout
!.bash_ps1
!.dmenurc
!.profile
!README.md

!.config/alacritty/*
!.config/guake/*
!.config/i3status/*
!.config/picom/*
!.config/rofi/*
!.config/psexec_adb/*
!.config/sakura/*
!.config/vis/*
!.config/home-screen.png

!.local/bin/mic-mute/*
!.local/bin/alacritty_CWD
!.local/bin/alternating_layouts.py
!.local/bin/battery_stat.sh
!.local/bin/battery_stat_launch.sh
!.local/bin/cls
!.local/bin/colorwheel
!.local/bin/crunchbang-mini
!.local/bin/curr-media-launch.sh
!.local/bin/curr-media.sh
!.local/bin/dmenuunicode
!.local/bin/emoji-ash
!.local/bin/elfman
!.local/bin/ghost
!.local/bin/i3status-ash
!.local/bin/macho
!.local/bin/micro
!.local/bin/my_scrcpy
!.local/bin/panes
!.local/bin/pfetch
!.local/bin/picom_trans
!.local/bin/scrshot
!.local/bin/search
