# First adding all the files in ignorelist 
*

# Just add the directory and file names you want to added in git repo
# Whitelisting the files i needed
!.i3/*
!.bash_aliases
!.bash_aliases
!.bash_history
!.bash_profile
!.bashrc
!.bash_functions
!.bash_logout
!.bash_ps1
!.dmenurc
!.profile
!README.md
!.config/alacritty/*
!.config/guake/*
!.config/i3status/*
!.config/picom/*
!.config/rofi/*
!.config/psexec_adb/*
!.config/sakura/*
!.config/vis/*
!.config/home-screen.png

!/home/ashwini/.local/bin/mic-mute/*
!/home/ashwini/.local/bin/alacritty_CWD
!/home/ashwini/.local/bin/alternating_layouts.py
!/home/ashwini/.local/bin/battery_stat.sh
!/home/ashwini/.local/bin/battery_stat_launch.sh
!/home/ashwini/.local/bin/cls
!/home/ashwini/.local/bin/colorwheel
!/home/ashwini/.local/bin/crunchbang-mini
!/home/ashwini/.local/bin/curr-media-launch.sh
!/home/ashwini/.local/bin/curr-media.sh
!/home/ashwini/.local/bin/dmenuunicode
!/home/ashwini/.local/bin/emoji-ash
!/home/ashwini/.local/bin/elfman
!/home/ashwini/.local/bin/ghost
!/home/ashwini/.local/bin/i3status-ash
!/home/ashwini/.local/bin/macho
!/home/ashwini/.local/bin/micro
!/home/ashwini/.local/bin/my_scrcpy
!/home/ashwini/.local/bin/panes
!/home/ashwini/.local/bin/pfetch
!/home/ashwini/.local/bin/picom_trans
!/home/ashwini/.local/bin/scrshot
!/home/ashwini/.local/bin/search
