# First adding all the files in ignorelist 
*

# Whitelisting the files i needed

!.i3/*
!.bash_aliases
!.bash_aliases
!.bash_history
!.bash_profile
!.bashrc
!.bash_functions
!.bash_logout
!.bash_ps1
!.dmenurc
!.profile
!README.md
!.config/alacritty/*
!.config/guake/*
!.config/i3status/*
!.config/picom/*
!.config/rofi/*
!.config/psexec_adb/*
!.config/sakura/*
!.config/vis/*
!.config/home-screen.png

